<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
  <% @test.each do |test| %>
    <div>
    <h1><%= @test.subject %></h1>
    <h2><%= @test.grade %></h2>
  </div>
  <% end %>

</body>
</html>